body {
  background-color: rgb(167, 163, 163);
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.titulo {
  font-size: xx-large;
  padding: 10px;
  text-align: center;
}

.preencherForm {
  align-items: stretch;
  background-color: white;
  border: black solid 1px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}

.card {
  background-color: rgb(202, 202, 206);
  font-size: 14px;
  line-height: 150%;
  margin: 10px;
  padding: 10px;
  width: 80%;
}

.topic-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 20px;
  width: 100%;
}
